.col-1 {width: 8,33%;}
.col-2 {width: 16,66%;}
.col-3 {width: 24,99%;}
.col-4 {width: 33,32%;}
.col-5 {width: 41,65%;}
.col-6 {width: 49,98%;}
.col-7 {width: 58,31%;}
.col-8 {width: 66,64%;}
.col-9 {width: 74,97%;}
.col-10 {width: 83,3%;}
.col-11 {width: 91,66%;}
.col-12 {width: 100%;}

body {
    background-image: url("img/nopoverty21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    color: #d50000;
    grid-column-start: 5;
    grid-column-end: 11;
    user-select: none;
}

.title :hover {
  text-shadow: 2px 2px 5px #d50000;
}

article {
  margin: 20px;
}

/*PUNTO 1 */
.punto1 {
  grid-column-start: 4;
  grid-column-end: 11;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.punto1 h2 {
  text-align: center;
}

/* PUNTO 2 */
.punto2 {
  grid-column-start: 4;
  grid-column-end: 11;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.punto2 h2 {
  text-align: center;
}

/* TARGETS */
.targets {
  grid-column-start: 4;
  grid-column-end: 11;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
}

.targets h2 {
  margin: 50px;
}

.targets h2:hover {
  box-shadow: 5px 10px 8px 10px #888888
}

/*NAV + IMG*/

img {
    grid-column-start: 1;
    grid-column-end: 2;
}

.nav {
    border: 0ch;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0);
    font-size: 28px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    font-family: montserrat;
    transition-duration: 0.4s;
    box-shadow: 0px 2px 0px #9b0000;
}

.nav:hover {
    background-color: rgba(0, 100, 100, 0.5);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 5px #9b0000;
}


/*
div{border: 1px solid red;}
*/

.top {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 13; 
} 

.container{
    display: grid;
    gap: 1rem   ;
    grid-template-columns: repeat(12, 1fr);
}

.top .icon {
  display: none;
}
/*PROVA RESPONSIVE NAVBAR*/

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .top a:not(:first-child) {display: none;}
    .top a.icon {
      float: right;
      display: block;
    }
  
  .title {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .punto1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  
  .punto2 {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .targets {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .top.responsive {position: relative;}
  .top.responsive a.icon {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .top.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 16px;
  }
  .icon {
    color: #ff5131;
  }
  
}