body {
    background-image: url("img/bg0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white
}

.nav {
    border: 0ch;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 28px;
    user-select: none;
    cursor: pointer;
    font-family: montserrat;
    transition-duration: 0.4s;
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}


.top { 
    left: 50%;
    top: 2%;
    position: absolute;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}